* {
    font-family: Verdana, sans-serif;
    text-align: center;
    display: ;
}

.title.h1 {
    background-color: rgb(44, 138, 182);
}

.link {
    color: rgb(48, 184, 150);
}


li {
    text-align: center;
}